OcaLib/PathUtil/RomPaths.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Roms">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Rom" type="XPath" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="XPath">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="key" use="required" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
